<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="navbar" class="d-flex justify-content-between navbar navbar-expand-md navbar-light bg-info text-white">
        <div class="pl-5">
            <h2>Adote um Pet</h2>
        </div>

        <div> 
            <ul class="navbar-nav mr-4 pr-5">
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../home.html" class="text-white">Home</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../sobre.html" class="text-white">Sobre</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../adote.html" class="text-white">Adote</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../contato.html" class="text-white">Contato</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../apoio.html" class="text-white">Apoio</a></li>
                <a href="cadVoluntario.html"><input class="ml-3 py-2 px-3 font-weight-bold" type="button" value="Seja voluntario"></a>
                <a href="login.html"><input class="ml-3 py-2 px-3 font-weight-bold" type="button" value="Login"></a>
            </ul>
        </div>
    </div>
    

</html>